body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  
}

code {
  font-family: "Source Sans Pro", sans-serif;
}

.btn-group {
  button {
    background: white;
    border: none;
    outline: none;
    color: #c3c3c3;
    svg {
      fill: currentColor;
    }
    &:hover {
      background: none;
      color: #0dd4fa;
    }
   @media  (max-width: 768px) {
     svg {
      width:40px;
     }
   } 
  }
}

.grid-item {
  .content-hover {
    transition: all 0.3s ease-in-out;
    opacity:  0;
   div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
  }
  .content-hover-none {
    display: none;
  }

  &:hover {
    .content-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(#0dd4fa, 0.6);
      z-index: 1;
      opacity: 1; 
    }
  }
}

.select-group {
  position: absolute;
  background:white;
  height: 0;
  overflow-y: scroll;
  z-index: 100;
  transition: all 0.3s ease-in-out;
   
}

.show {
 height:250px;
 border: 1px solid rgb(226, 224, 224);
}

.history-container {
 min-height:90vh;
}

.box-coins {
  position:relative;
   @media (max-width: 765px) {
      position: absolute;
      bottom: 10px;
      left: 20px;
   }
  }